/* Contacts.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #564343;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

/* h1, h2 {
  color: #2c3e50;
} */

div {
  /* margin-bottom: 20px; */
}

p {
  margin: 0;
  line-height: 1.5;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  text-decoration: none;
  color: #3498db;
}

