/* Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Increased padding for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow for a subtle effect */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column; /* Updated to column layout for better readability */
  align-items: center;
}

.modal-body img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 20px; /* Added margin at the bottom for spacing */
}
